asn1crypto==0.24.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
defusedxml==0.6.0
eight==0.4.2
enum34==1.1.6
future==0.16.0
idna==2.8
ipaddress==1.0.22
lxml==4.3.3
pyasn1==0.4.6
pycparser==2.19
pyOpenSSL==18.0.0
requests==2.22.0
rsa==4.0
signxml==2.6.0
six==1.12.0
urllib3==1.25.3
